{% load static %}
<header>
    <div class="container">
       <div class="header-container grid ">
          <h1>
             <a href="/"><img src="{%static 'images/logo_header.svg'%}"></a>
          </h1>
          <div class="search_col">
             <input placeholder="Type for  Search News..." id="news_search_bar" onchange="news_search()"/>
             <input type="button" class="search_btn" />
          </div>
          <ul>
            {% if request.user.is_authenticated %}
            <li ><a href="{% url 'Logout' %}" class="default_btn"><i class="fa-solid fa-user"></i>Log out</a></li>
            {%else%}
            <li ><a href="{% url 'Login' %}" class="default_btn"><i class="fa-solid fa-user"></i>Sign In</a></li>
            {%endif%}
          </ul>
       </div>
    </div>
 </header>
 <div class="navigation_wrapper">
    <div class="container">
       <ul>
          <li><a href="{% url 'CategoryPage'%}?category=trending">TRENDING NEWS</a></li>
          <li><a href="{% url 'CategoryPage'%}?category=entertainment">ENTERTAINMENT</a></li>
          <li data-aos-delay="200"><a href="{% url 'CategoryPage'%}?category=general">GENERAL</a></li>
          <li data-aos-delay="250"><a href="{% url 'CategoryPage'%}?category=health">HEALTH</a></li>
          <li data-aos-delay="300"><a href="{% url 'CategoryPage'%}?category=science">SCIENCE</a></li>
          <li data-aos-delay="350"><a href="{% url 'CategoryPage'%}?category=sports">SPORTS</a></li>
       </ul>
    </div>
 </div>

